<h1 #appTitle></h1>
<div class='cart-wrapper' *ngIf='shouldShowCart'>
    <button (click)='hideCart()'>Закрыть Корзину</button>
    <app-cart-list
        *ngIf='!cartEmpty; else elseBlock'
        (cartEmptinessChange)='onCartChange($event)'
    ></app-cart-list>
    <ng-template #elseBlock>
        <div>Корзина пуста</div>
    </ng-template>
</div>
<app-first-component></app-first-component>
<button class='open-cart-button' (click)='showCart()'>Открыть Корзину</button>
<app-product-list *ngIf='!shouldShowCart'></app-product-list>
