<div class="wrapper" #wrapper>
    <div class="title">{{ name }}</div>
    <div class="content">
        <p *ngIf='description' class='description'>{{ description }}</p>
        <p>
            Цена в минимальной комплектации: {{ priceMin | currency : currency : 'symbol' : '1.0-0' }}
        </p>
        <p>
            Цена в лучшей комплектации: {{ priceMax | currency : currency : 'symbol' : '1.0-0' }}
        </p>
    </div>
    <button [disabled]="!isAvailable" (click)='onBuy()'>Купить</button>
</div>
